<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">


<!--pasiimam dali kodo is kitos vietos-->
<head th:replace="common/templates :: temp-header"/>
<body>
<div th:replace="common/templates :: navbar"/>
<div th:replace="common/templates :: sideNavbar"></div>
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>

<form method="post" th:action="@{/test1}" >
    <input type="text"  name="q1"/>
    <hr />
    <input type="text" name="ans" />
    <input type="text" name="ans" />
    <input type="submit" />
</form>


<!--<form>-->
    <!--<table>-->
        <!--<tr th:each="poolAnswer, rowStat : *{poolAnswers}">-->
            <!--<td>-->
                <!--<input type="text" class="form-control" th:field="poolAnswers[__${rowStat.index}__].answer"/>-->
            <!--</td>-->
        <!--</tr>-->
    <!--</table>-->
<!--</form>-->


<div th:replace="common/templates :: bottom-scripts"/>
</body>
</html>